<% layout('./layouts/adminLayout') -%>

<link rel="stylesheet" href="../../static/css/admin/styleAddCourse.css">
<title>Edit Courses</title>

<section id="addCourseIntroSection">
    <div class="d-flex flex-row justify-content-center w-100 mt-3">
        <% if(success && success.length){%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%=success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }%>
        <% if(error && error.length){%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%=error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }%>
    </div>
    <div class="addCourseTitle">
        <h1>Edit Course</h1>
    </div>
    <form class="editCourseForm col-xl-3 col-lg-4 col-md-6 col-sm-8 col-10 validated-form"
        action="/updateCourse/<%=coursesData._id%>/<%=coursesData.instructor._id%>?_method=PUT" method="post"
        novalidate>
        <div class="form-group mb-3">
            <label for="courseTitle" class="mb-2">Course Title</label>
            <input type="text" class="form-control mb-3" placeholder="Course Title" id="courseTitle" name="courseTitle"
                value="<%=coursesData.courseTitle %>" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter valid Course Title.
            </div>
        </div>
        <div class="form-group">
            <label for="instructor">Select Instructor</label>
            <select class="form-select" aria-label="Default select example" id="instructor" name="instructor">
                <%let slt = ''; for (const it of instructorData) {%>
                <option <%  if(it.email === coursesData.instructor.email){ %>selected <% }  %> value="<%= it._id%>">
                    <%= it.instructorName%>
                </option>
                <% } %>
            </select>
            <small class="form-text text-muted">If instructor not available, click below to add new Instructor</small>
        </div>
        <div class="d-flex flex-row justify-content-center w-100">
            <a href="/addInstructor" class="btn btn-secondary my-2 w-50" role="button">Add New
                Instructor</a>
        </div>
        <div class="form-group mb-3">
            <label for="videoId" class="mb-2">Course Link</label>
            <input type="text" class="form-control" id="videoId" placeholder="Enter YouTube Video ID" name="videoId"
                value="<%=coursesData.videoId %>" required>
            <small class="form-text text-muted">Enter only the Youtube Video ID</small>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter valid VideoID.
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="description" class="mb-2">Course Description</label>
            <input type="text" class="form-control" placeholder="Enter the Course Description" id="description"
                name="description" value="<%=coursesData.description %>" required>
            <small class="form-text text-muted">20 - 40 words</small>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter valid Description.
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="summary" class="mb-2">Summary</label>
            <textarea type="text" class="form-control" placeholder="Enter Summary (less than 20 words)" id="summary"
                name="summary" required><%=coursesData.summary %></textarea>
            <small class="form-text text-muted">10 - 20 words</small>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter valid Summary.
            </div>
        </div>
        <div class=" form-group mb-3">
            <%let arr = '';%>
            <% for (const ts of coursesData.techStack) {arr=arr+ts + ','} %>
            <label for="tags-input" class="mb-2">Tech Stacks</label>
            <input type="text" id="tags-input" class="tags-input" name="techStack" data-role="tagsinput"
                placeholder="Add Tech Stack here" value="<%=arr %>">
            <small class="form-text text-muted">Separate keywords with a comma or enter
                key</small>
        </div>
        <div class="d-flex flex-row justify-content-center w-100 mb-3">
            <button type="submit" class="btn btn-success mx-2 my-2 w-50">Submit</button>
            <a href="/viewCourses" class="btn btn-secondary mx-2 my-2 w-50" role="button">Cancel</a>
        </div>

    </form>

</section>