<% layout('./layouts/adminLayout') -%>

<link rel="stylesheet" href="../../static/css/admin/styleViewUsers.css">
<title>View Users</title>

<section id="userSection">
    <div class="d-flex flex-row justify-content-center w-100 mt-3 mx-3">
        <% if(success && success.length){%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%=success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }%>
        <% if(error && error.length){%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%=error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }%>
    </div>
    <div class="userHeading">
        <h1>Users</h1>
    </div>
    <div class="userBox">
        <% if(userData.length === 0){ %>
        <div class="alert alert-info my-3 mx-3 emptyAlert" role="alert">
            No Users Registered Yet, Please come Back Later.
        </div>
        <%}else{let i = 1; for (const it of userData) { if(i==6){i=1;}%>
        <div class="userContent">
            <div class="userHeader">
                <div class="userImage">
                    <img src="../static/img/avatar/u<%=i++%>.png" alt="Profile">
                </div>
                <div class="headerContent">
                    <h3><%= it.firstName %> <%= it.lastName %></h3>
                    <% if(it.country){%>
                    <h5><%=it.country%></h5>
                    <%}else{%>
                    <h5>-----</h5>
                    <% } %>
                </div>
            </div>
            <div class="userFooter">
                <div class="userDetails">
                    <img class="descIcon" src="../static/img/contact/mail.png" alt="mail">
                    <p><%= it.email %></p>
                </div>
                <div class="userDetails">
                    <img class="descIcon" src="../static/img/logo/clg.png" alt="mail">
                    <% if(it.college){%>
                    <p><%=it.college%></p>
                    <%}else{%>
                    <p>-----</p>
                    <% } %>
                </div>
                <div class="userDetails">
                    <img class="descIcon" src="../static/img/logo/git.png" alt="mail">
                    <% if(it.github){%>
                    <p><%= it.github %></p>
                    <a href="https://github.com/<%= it.github %>" target="_blank"><img class="linkIcon"
                            src="../../static/img/logo/linkIcon.png" alt="Link Icon"></a>
                    <%}else{%>
                    <p>-----</p>
                    <% } %>
                </div>
                <div class="userDetails">
                    <img class="descIcon" src="../static/img/logo/lc.png" alt="mail">
                    <% if(it.leetcode){%>
                    <p><%= it.leetcode %></p>
                    <a href="https://leetcode.com/<%=it.leetcode%>/" target="_blank"><img class="linkIcon"
                            src="../../static/img/logo/linkIcon.png" alt="Link Icon"></a>
                    <%}else{%>
                    <p>-----</p>
                    <% } %>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center w-100">
                <button type="button" class="btn btn-danger mx-2 my-3 w-50" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop<%=it._id%>">
                    Delete User
                </button>
            </div>
            <div class="modal fade" id="staticBackdrop<%=it._id%>" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Delete User?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete the User <b><%= it.firstName %> <%= it.lastName %></b>?
                        </div>
                        <div class="modal-footer">
                            <form action="deleteUser/<%=it._id%>?_method=DELETE" method="post">
                                <button type="submit" class="btn btn-danger mx-2 my-3">Delete</button>
                            </form>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } }%>
    </div>
</section>