<% layout('./layouts/boilerplate') -%>
<link rel="stylesheet" href="../static/css/styleEnrolledCourses.css">
<title>View Courses</title>

<section id="enrolledCoursesSection">
    <% if(success && success.length){%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%=success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% }%>
    <% if(error && error.length){%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%=error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% }%>
    <div class="enrolledTitle">
        <h1>My Courses</h1>
    </div>
    <div class="coursesBody">
        <% if(coursesData.length === 0){ %>
        <div class="alert alert-info" role="alert">
            There are no Courses.<a href="/courses" class="alert-link">Click Here</a> to add New
            course.
        </div>
        <% }else{for (const it of coursesData) { %>
        <div class="courseBox">
            <div class="courseImage">
                <img src="<%= it.thumbnail%>" alt="DSA Logo">
            </div>
            <div class="courseTitle">
                <h2><%= it.courseTitle%></h2>
            </div>
            <div class="courseBoxContent">
                <div class="courseDescription">
                    <p><%= it.summary%></p>
                </div>
                <div class="courseInstructor">
                    <img class="descIcon" src="../static/img/logo/tutor.png" alt="Tutor Image">
                    <h3><%= it.instructor.instructorName%></h3>
                </div>
                <div class="courseTime">
                    <img class="descIcon" src="../static/img/logo/timeline.svg" alt="time image">
                    <h3><%= it.duration.hours%>hrs+</h3>
                </div>
            </div>
            <div class="submitBtn">
                <form action="" method="post">
                    <a href="#" class="btn btn-secondary mx-2 my-3" role="button">Edit</a>
                </form>
                <form action="/deleteCourse/<%= it._id%>" method="post">
                    <button type="submit" class="btn btn-danger mx-2 my-3">Delete</button>
                </form>
            </div>
        </div>
        <% }} %>
    </div>

</section>