<% layout('./layouts/adminLayout') -%>

<link rel="stylesheet" href="../static/css/styleEnrolledCourses.css">
<title>View Courses</title>

<section id="enrolledCoursesSection">
    <% if(success && success.length){%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%=success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% }%>
    <% if(error && error.length){%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%=error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% }%>
    <div class="enrolledTitle">
        <h1>Courses</h1>
    </div>
    <div class="addNew">
        <h3>Add New Course</h3>
        <a href="/addCourse" class="btn btn-success mx-2" role="button">Add Course</a>
    </div>
    <div class="coursesBody">
        <% if(coursesData.length === 0){ %>
        <div class="alert alert-info" role="alert">
            There are no Courses.<a href="/courses" class="alert-link">Click Here</a> to add New
            course.
        </div>
        <% }else{for (const it of coursesData) { %>
        <div class="courseBox">
            <div class="courseImage">
                <img src="<%= it.thumbnail%>" alt="DSA Logo">
            </div>
            <div class="courseTitle">
                <h2><%= it.courseTitle%></h2>
            </div>
            <div class="courseBoxContent">
                <div class="courseDescription">
                    <p><%= it.summary%></p>
                </div>
                <div class="courseInstructor">
                    <img class="descIcon" src="../static/img/logo/tutor.png" alt="Tutor Image">
                    <h3><%= it.instructor.instructorName%></h3>
                </div>
                <div class="courseTime">
                    <img class="descIcon" src="../static/img/logo/timeline.svg" alt="time image">
                    <h3><%= it.duration.hours%>hrs+</h3>
                </div>
            </div>
            <div class="submitBtn">
                <form action="/editCourse/<%= it._id%>" method="get">
                    <button type="submit" class="btn btn-secondary mx-2 my-3">Edit</button>
                </form>
                <button type="submit" class="btn btn-danger mx-2 my-3" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop<%= it._id%>">Delete</button>
            </div>
            <div class="modal fade" id="staticBackdrop<%= it._id%>" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Delete this Course?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to Delete <b><%= it.courseTitle%></b> Course?
                        </div>
                        <div class="modal-footer">
                            <form action="/deleteCourse/<%= it._id%>/<%= it.instructor._id%>?_method=DELETE"
                                method="post">
                                <button type="submit" class="btn btn-danger mx-2 my-3">Delete</button>
                            </form>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }} %>
    </div>

</section>