<% layout('./layouts/adminLayout') -%>

<link rel="stylesheet" href="../../static/css/admin/styleViewInstructors.css">
<title>View Courses</title>

<section id="InstructorSection">
    <% if(success && success.length){%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%=success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% }%>
    <% if(error && error.length){%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%=error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% }%>
    <div class="PageTitle">
        <h1>Instructors</h1>
    </div>
    <div class="addNew">
        <h3>Add New Instructor</h3>
        <a href="/addInstructor" class="btn btn-success mx-2" role="button">Add Instructor</a>
    </div>
    <div class="instructorBody">
        <% let i = 1; %>
        <% for(const it of instructorData) { if(i==5){i=1;}%>
        <div class="instructorBox">
            <div class="instructorHeading">
                <div class="headingImg">
                    <img src="../static/img/avatar/<%=i++ %>.png" alt="image 1">
                </div>
                <div class="headingContent">
                    <h2><%= it.instructorName %></h2>
                    <h3><%= it.instructorTitle %></h3>
                </div>
            </div>
            <div class="instructorContent">
                <p><%= it.description %></p>
            </div>
            <div class="submitBtn">
                <form action="/editInstructor/<%= it._id%>" method="get">
                    <button type="submit" class="btn btn-secondary mx-2 my-3">Edit</button>
                </form>
                <button type="button" class="btn btn-danger mx-2 my-3" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop<%= it._id%>">Delete</button>
            </div>
            <div class="modal fade" id="staticBackdrop<%= it._id%>" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Delete the Instructor?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to Delete <b><%= it.instructorName %></b> Instructor?
                        </div>
                        <div class="modal-footer">
                            <form action="/deleteInstructor/<%= it._id%>?_method=DELETE" method="post">
                                <button type="submit" class="btn btn-danger mx-2 my-3">Delete</button>
                            </form>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }%>
    </div>
</section>