<% layout('./layouts/boilerplate') -%>
<link rel="stylesheet" href="../static/css/styleCourseDescription.css">
<title>About US</title>

<section id="courseIntroSection">
    <div class="courseIntroSectionBox">
        <div class="courseIntroContent">
            <div class="courseTitle">
                <h1><%= courseData.courseTitle%></h1>
            </div>
            <div class="courseIntroBody">
                <div class="courseSummary">
                    <p><%= courseData.summary%></p>
                </div>
                <div class="courseInstructor">
                    <img class="descIcon" src="../static/img/logo/tutor.png" alt="Tutor Image">
                    <h3><%= courseData.instructor.instructorName%></h3>
                </div>
                <div class="courseTime">
                    <img class="descIcon" src="../static/img/logo/timeline.svg" alt="time image">
                    <h3><%= courseData.duration.hours%>hrs <%= courseData.duration.minutes%>mins</h3>
                </div>
            </div>
            <div class="submitBtn">
                <form action="/enrollCourse/<%= courseData._id%>" method="post">
                <% if(currentUser && isEnrolled){%>
                <a href="/coursePage/<%= courseData._id%>" class="btn btn-success mx-2 my-3" role="button">Watch Now</a>
                <% }else{ %>
                    <button type="submit" class="btn btn-info mx-2">Enroll Now</button>
                <% } %>
                </form>
            </div>
        </div>
        <div class="courseImage">
            <img src="<%= courseData.thumbnail%>" alt="coures image">
        </div>
    </div>
</section>

<section id="courseDescriptionSection">
    <div class="courseDescriptionBox topbox">
        <div class="courseDescriptionTitle">
            <h2>Description</h2>
        </div>
        <div class="courseFullDescription">
            <p><%= courseData.description%></p>
        </div>
    </div>
    <div class="courseDescriptionBox">
        <div class="courseDescriptionTitle">
            <h2>What you'll learn</h2>
        </div>
        <div class="courseContentBody">
            <% for (const it of courseData.techStack) { %>
            <p><%= it%></p>
            <%} %>
        </div>
    </div>
    <div class="courseDescriptionBox">
        <div class="courseDescriptionTitle">
            <h2>Instructor</h2>
        </div>
        <div class="instructorBody">
            <div class="instructorHeader">
                <div class="instructorImage">
                    <img src="../static/img/avatar/1.png" alt="">
                </div>
                <div class="headerContent">
                    <div class="instructorName">
                        <h3><%= courseData.instructor.instructorName%></h3>
                    </div>
                    <div class="instructorTitle">
                        <h5><%= courseData.instructor.instructorTitle%></h5>
                    </div>
                </div>
            </div>
            <div class="instructorDescription">
                <p><%= courseData.instructor.description%></p>
            </div>
        </div>
    </div>
</section>
<!-- <section id="courseReviewSection">
    <h1>Reviews</h1>
    <div class="reviewBody">
        <div class="reviewBox editReview">
            <div class="reviewHeading">
                <div class="reviewerName">
                    <h3>John Stones</h3>
                </div>
                <div class="reviewBtn">
                    <a href="#" class="btn btn-info mx-2" role="button">Edit</a>
                </div>
            </div>
            <form action="#" method="post">
                <div class="rating">
                    <label for="reviewRating">Rating: </label>
                    <input type="text" name="reviewRating" id="reviewRating" placeholder="5">
                </div>
                <div class="reviewContent">
                    <label for="reviewContentText">Review: </label>
                    <input type="text" name="reviewContentText" id="reviewContentText" placeholder="Enter review here">
                </div>
                <div class="submitBtn">
                    <a href="#" class="btn btn-success mx-2" role="button">Submit</a>
                </div>
            </form>
        </div>
        <div class="reviewBox">
            <div class="reviewHeading">
                <div class="reviewerName">
                    <h3>John Stones</h3>
                </div>
                <div class="reviewBtn">
                    <a href="#" class="btn btn-info mx-2 editButton" role="button">Edit</a>
                </div>
            </div>
            <div class="rating">
                5
            </div>
            <div class="reviewContent">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi magnam dicta dignissimos doloremque,
                debitis veniam quos reiciendis quis nobis optio.
            </div>
        </div>
    </div>
</section> -->
<script>
    // document.addEventListener('DOMContentLoaded', () => {
    //   const editForm = document.querySelector('.editReview');
    //   const editButton = document.querySelector('.editButton');
    //   const reviewContainer = document.querySelector('.review');
    //   editForm.style.display = 'none';
    //   editButton.addEventListener('click', () => {
    //     editForm.style.display = 'block';
    //   });
  
    //   editForm.addEventListener('submit', async (e) => {
    //     e.preventDefault();
    //     const formData = new FormData(editForm);
  
    //     try {
    //       const response = await fetch('/edit-review', {
    //         method: 'POST',
    //         body: formData
    //       });
  
    //       if (response.ok) {
    //         const data = await response.json();
    //         reviewContainer.innerHTML = data.updatedReview;
    //         editForm.style.display = 'none';
    //       } else {
    //         console.error('Error updating review.');
    //       }
    //     } catch (error) {
    //       console.error('Error updating review.', error);
    //     }
    //   });
    // });
  </script>