<% layout('./layouts/boilerplate') -%>
<link rel="stylesheet" href="../static/css/styleCourseDescription.css">
<title>About US</title>

<section id="courseIntroSection">
    <div class="courseIntroSectionBox">
        <div class="courseIntroContent">
            <div class="courseTitle">
                <h1><%= courseData.courseTitle%></h1>
            </div>
            <div class="courseIntroBody">
                <div class="courseSummary">
                    <p><%= courseData.summary%></p>
                </div>
                <div class="courseInstructor">
                    <img class="descIcon" src="../static/img/logo/tutor.png" alt="Tutor Image">
                    <h3><%= courseData.instructor.instructorName%></h3>
                </div>
                <div class="courseTime">
                    <img class="descIcon" src="../static/img/logo/timeline.svg" alt="time image">
                    <h3><%= courseData.duration.hours%>hrs <%= courseData.duration.minutes%>mins</h3>
                </div>
                <div class="courseInstructor">
                    <img class="descIcon" src="../static/img/logo/user.png" alt="Tutor Image">
                    <% if (courseData.users.length === 1) { %>
                    <h3><%= courseData.users.length%> Student</h3>
                    <% }else{ %>
                    <h3><%= courseData.users.length%> Students</h3>
                    <% } %>
                </div>
            </div>
            <div class="submitBtn">
                <% if(currentUser && isEnrolled){%>
                <a href="/coursePage/<%= courseData._id%>" class="btn btn-success mx-2 my-3" role="button">Watch Now</a>
                <% }else{ %>
                <button type="submit" class="btn btn-warning mx-2" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">Enroll Now</button>
                <% } %>
            </div>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Enroll?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to Enroll in <b><%= courseData.courseTitle%></b> Course?
                        </div>
                        <div class="modal-footer">
                            <form action="/enrollCourse/<%= courseData._id%>" method="post">
                                <button type="submit" class="btn btn-success mx-2 my-3">Enroll</button>
                            </form>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="courseImage">
            <img src="<%= courseData.thumbnail%>" alt="coures image">
        </div>
    </div>
</section>

<section id="courseDescriptionSection">
    <div class="courseDescriptionBox topbox">
        <div class="courseDescriptionTitle">
            <h2>Description</h2>
        </div>
        <div class="courseFullDescription">
            <p><%= courseData.description%></p>
        </div>
    </div>
    <div class="courseDescriptionBox">
        <div class="courseDescriptionTitle">
            <h2>What you'll learn</h2>
        </div>
        <div class="courseContentBody">
            <% for (const it of courseData.techStack) { %>
            <p><%= it%></p>
            <%} %>
        </div>
    </div>
    <div class="courseDescriptionBox">
        <div class="courseDescriptionTitle">
            <h2>Instructor</h2>
        </div>
        <div class="instructorBody">
            <div class="instructorHeader">
                <div class="instructorImage">
                    <img src="../static/img/avatar/t1.png" alt="">
                </div>
                <div class="headerContent">
                    <div class="instructorName">
                        <h3><%= courseData.instructor.instructorName%></h3>
                    </div>
                    <div class="instructorTitle">
                        <h5><%= courseData.instructor.instructorTitle%></h5>
                    </div>
                </div>
            </div>
            <div class="instructorDescription">
                <p><%= courseData.instructor.description%></p>
            </div>
        </div>
    </div>
</section>