<% layout('./layouts/boilerplate') -%>
<link rel="stylesheet" href="../static/css/styleEnrolledCourses.css">
<title>Enrolled Courses</title>

<section id="enrolledCoursesSection">
    <% if(success && success.length){%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%=success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% }%>
    <% if(error && error.length){%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%=error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% }%>
    <div class="enrolledTitle">
        <h1>My Courses</h1>
    </div>
    <div class="coursesBody">
        <% if(coursesData.length === 0){ %>
        <div class="alert alert-info" role="alert">
            You have not Enrolled in any Course. <a href="/courses" class="alert-link">Click Here</a> to explore our
            courses
        </div>
        <% }else{for (const it of coursesData) { %>
        <div class="courseBox">
            <div class="courseImage">
                <img src="<%= it.course.thumbnail%>" alt="DSA Logo">
            </div>
            <div class="courseTitle">
                <h2><%= it.course.courseTitle%></h2>
            </div>
            <div class="courseBoxContent">
                <div class="courseDescription">
                    <p><%= it.course.summary%></p>
                </div>
                <div class="courseInstructor">
                    <img class="descIcon" src="../static/img/logo/tutor.png" alt="Tutor Image">
                    <h3><%= it.course.instructor.instructorName%></h3>
                </div>
                <div class="courseTime">
                    <img class="descIcon" src="../static/img/logo/timeline.svg" alt="time image">
                    <h3><%= it.course.duration.hours%>hrs+</h3>
                </div>
                <div class="courseProgress">
                    <img class="descIcon" src="../static/img/logo/progress.png" alt="progress image">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"style="width:<%= it.progress%>%;" aria-valuenow="<%= it.progress%>" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h3><%= it.progress%>%</h3>
                </div>
                <div class="courseReview">
                    <h3>4.8</h3>
                    <img src="../static/img/logo/4-8-star.png" alt="review image">
                    <p>(2K+ students)</p>
                </div>
            </div>
            <div class="submitBtn">
                <form action="/unenrollCourse/<%= it._id%>?_method=DELETE" method="post">
                <a href="/coursePage/<%= it.course._id%>" class="btn btn-info mx-2 my-3" role="button">Watch Now</a>
                <button type="submit" class="btn btn-danger mx-2 my-3">Delete</button>
            </form>
            </div>
        </div>
        <% }} %>
    </div>
</section>