<% layout('./layouts/boilerplate') -%>

    <link rel="stylesheet" href="../static/css/styleProfile.css">
    <title>user Profile</title>

    <section id="profileSection">
        <div class="profileHeading">
            <h1>User profile</h1>
        </div>
        <div class="profileBody">
            <div class="profileImage">
                <img src="../static/img/avatar/profileImg.png" alt="Profile">
            </div>
            <div class="profileContent">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">First Name: </th>
                            <td><%= userData.firstName %></td>
                        </tr>
                        <tr>
                            <th scope="row">Last Name: </th>
                            <td><%= userData.flastName %></td>
                        </tr>
                        <tr>
                            <th scope="row">E-mail: </th>
                            <td><%= userData.email %></td>
                        </tr>
                        <tr>
                            <th scope="row">College: </th>
                            <td><%= userData.college %></td>
                        </tr>
                        <tr>
                            <th scope="row">Country: </th>
                            <td><%= userData.country %></td>
                        </tr>
                        <tr>
                            <th scope="row">Github: </th>
                            <td><a href="https://github.com/<%= userData.leetcode %>" target="_blank" class="btn btn-info" role="button">@<%= userData.github %></a></td>
                        </tr>
                        <tr>
                            <th scope="row">Leetcode: </th>
                            <td><a href="https://leetcode.com/<%=userData.leetcode%>/" target="_blank" class="btn btn-info" role="button">@<%= userData.leetcode %></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <a href="/profileEdit/<%= currentUser._id%>" class="btn btn-info" role="button">Edit Profile</a>
        </div>
    </section>